.landscape-box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 4vh 4vh;
  text-align: center;
}

.landscape-box img {
  width: 45vh;
  height: 30vh;
}
