.painting-container {
  position: relative;
  margin-left: 95vw;
  width: 80vw;
  height: 62vh;
  min-height: 70vh;
  background: rgba(245, 222, 179, 0.9);

  border-radius: 10px;
  display: flex;
}
.painting-box {
  position: relative;
  display: flex;
  flex-direction: row;
  row-gap: 1vh;
  width: 50vw;
  height: 62vh;
  column-gap: 10%;
  margin: 5vh 5vw;
  border-radius: 10px;
}
.image-box {
  display: flex;
  width: 50vw;
  height: 60vh;
}
.image-box img {
  width: 20vw;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.data-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 2vh 2vw;
  height: 58vh;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.data-box h1 {
  text-align: center;
  font-size: 4vh;
  padding: 0;
}
.data-box p {
  padding: 0.2vh;
  font-size: 2vh;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 1000px) {
  .painting-box {
    overflow-y: scroll;
    flex-direction: column;
  }
  .painting-box::-webkit-scrollbar {
    display: none;
  }
  .image-box img {
    width: 50vw;
  }
  .data-box {
    width: 46vw;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .painting-box {
    width: 80vw;
  }
  .image-box {
    width: 70vw;
  }
  .image-box img {
    width: 70vw;
  }
  .data-box {
    width: 66vw;
    height: auto;
  }
}
