.painting-container {
  position: absolute;
  top: 10%;
  left: -10vw;
  width: 60vw;
  height: auto;
  min-height: 70vh;
  background: rgba(245, 222, 179, 0.9);

  border-radius: 10px;
  display: flex;
  margin: auto;
}
.painting-box {
  position: relative;
  display: flex;
  flex-direction: row;
  row-gap: 1vh;
  width: 100%;
  height: auto;
  column-gap: 10%;
  margin: 5vh 5vw;
}
.image-box {
  display: flex;
  width: 50%;
  height: 100%;
  margin: 1vh 1vw;
  align-items: center;
}
.image-box img {
  width: 100%;
  height: auto;
  margin: 5% 0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.data-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 38%;
  padding: 2vh 2vw;
  height: auto;
  margin: 0 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.data-box h1 {
  text-align: center;
  padding: 0;
}
.data-box p {
  padding: 0.5em;
  font-size: 1em;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 1000px) {
  .painting-box {
    overflow-y: scroll;
    flex-direction: column;
    max-height: 70vh;
    align-items: center;
    column-gap: 3vh;
  }
  .painting-box::-webkit-scrollbar {
    display: none;
  }
  .image-box {
    width: 88%;
    height: auto;
  }
  .data-box {
    width: 80%;
  }
}
