.ShopPortraitItems-container {
  display: block;
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 14vh;
}
.ShopPortraitItems-box {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin: 6vh 15vh;
  border-radius: 35px;
  column-gap: 5vh;
  row-gap: 5vh;
  flex-wrap: wrap;
  min-height: 80vh;
  padding: 7vh 7vh;
  background: wheat;
}

.ShopPortraitItems-box h1 {
  width: 100%;
  border: 0px;
  margin: 0vh 45vh;
  padding: 0.7vh 0;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
