.shop-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  width: 100%;
}
.shop-container h1 {
  text-align: center;
  margin: 0 auto;
  padding: 1vh 0;
  border-bottom: 1px solid grey;
  width: 100%;
}
