.ShopPortraitItems-container {
  display: block;
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 14vh;
}
.ShopPortraitItems-box {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin: 6vh 7vw;
  justify-content: center;
  border-radius: 35px;
  column-gap: 5vh;
  row-gap: 5vh;
  flex-wrap: wrap;
  padding: 7vh 1vh;
  background: rgba(245, 222, 179, 0.5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.ShopPortraitItems-container h1 {
  width: auto;
  height: auto;
  text-align: center;
  border: 0px;
  margin: 6vh 7vw;
  padding: 0.7vh 0;
  background-color: wheat;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
