.admin-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 6vh 15vh;
  border-radius: 35px;
  background: rgba(204, 55, 55, 0.6);
  justify-content: center;
  color: black;
}
.admin-container form {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  padding: 5vh;
  margin: 5vh 10vh;
  justify-content: center;
  align-items: center;
  column-gap: 20vh;
}
.text-data {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 40%;
}
.dropzone {
  margin-top: 5vh;
  display: flex;
  height: auto;
  min-height: 15vh;
  width: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.admin-container textarea {
  height: 10vh;
  text-align: justify;
  margin: 1vh 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}
.admin-container input,
datalist {
  margin: 1vh 0;
  width: auto;
  height: 4vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: white;
}
.admin-container label {
  font-size: 20px;
  font-weight: bold;
}
.paintings-list-container {
  display: flex;
  flex-direction: column;
  width: 86%;
  margin: 5vh 10vh;
  height: auto;
}
.paintings-list-container table {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  color: white;
}
.paintings-list-container th {
  background-color: rgb(204, 55, 55);
}
.paintings-list-container td {
  padding: 2vh;
  height: auto;
  border: 1px solid black;
  max-width: 10vh;
  word-wrap: break-word;
}
.paintings-list-container tr {
  padding: 1vh;
}
