.basket-container {
  position: absolute;
  top: 10%;
  left: 0vw;
  display: flex;
  width: 40vw;
  height: auto;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  font-size: 1.1em;
  font-weight: 500;
}
.basket-box {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  border-radius: 10px;
  background: rgba(245, 222, 179, 0.9);
  padding: 3vh;
}

.basket-box ul {
  list-style-type: none;
  padding: 0;
}
.basket-box li {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 2vh 0;
  padding: 1vh;
  border-radius: 10px;
  align-items: center;
}
.basket-container h1 {
  text-align: center;
  font-size: 24px;
}
.total-price {
  display: inline-flex;
  font-size: 1.5em;
  font-weight: 600;
  align-self: flex-end;
  width: fit-content;
  padding: 1vh;
  margin: 2vh 0;
}
.amount-price-box {
  display: flex;
  align-items: center;
  column-gap: 3vh;
  flex-direction: row;
}
.amount-price-box button {
  padding: 0.1em 0.4em;
  border-radius: 5px;
  margin: 1vh 0;
  background-color: antiquewhite;
}
