.header-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.95);
  height: 8vh;
  width: 100%;

  z-index: 1;
}
.interactive-box {
  display: flex;
  width: auto;
  column-gap: 1vw;
  max-height: 6vh;
  margin-right: 2vw;
  flex-direction: row;
}
.interactive-item {
  display: block;
  max-height: 6vh;
}
.interactive-button {
  display: block;
  height: 6vh;
  padding: 1vh 0;
  cursor: pointer;
  font: inherit;
  border: none;
  color: black;
  font-weight: bold;
  background-color: transparent;
}
.user-icon {
  margin-top: 0.5vh;
  height: 3vh;
  width: auto;
}
.basket-icon {
  width: auto;
  height: 4vh;
}
.badge {
  position: sticky;
  background-color: wheat;
  font-size: 0.9em;
  padding: 0.05vh 0.4vw;
  border-radius: 50%;
  font-weight: bold;
}
