.header-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 0vh;
  margin: 0 auto;
  background-color: white;
  height: 10vh;
  width: 100%;
  z-index: 1;
}
.basket-button {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  border: none;
  color: white;
  height: fit-content;
  padding: 1rem 0 0 0;
  border-radius: 25px;
  font-weight: bold;
  background-color: transparent;
}
.icon {
  width: 2.5rem;
  height: auto;
  margin: 0;
  padding: 0;
}
.badge {
  background-color: #b94517;
  padding: 0.05rem 0.5rem;
  border-radius: 50px;
  font-weight: bold;
}
.header-container ul {
  list-style-type: none;
  display: inline;
  padding: 1vh 5vh;
}
.header-container li {
  height: 1vh;
  width: 10vh;
  display: inline-block;
  background: transparent;
}
.profile-button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
