.menu-container {
  display: flex;
  flex-direction: column;
  width: auto;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  padding: 0 1em;
}
button {
  display: inline;
  padding: 0.6em 1em;
  margin: 0 1em;
  font-weight: bold;
  border: 0;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}
