.menu-container {
  display: flex;
  flex-direction: column;
  width: auto;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  padding: 0em 1em;
}
button {
  display: inline-flex;
  padding: 0.6em 1em;
  margin: 0 1em;
  font-weight: bold;
  border: 0;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
.basket-button {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  border: none;
  color: white;
  height: fit-content;
  padding: 1rem 0 0 0;
  border-radius: 25px;
  font-weight: bold;
}
.icon {
  width: 2.5rem;
  height: auto;
  margin: 0;
  padding: 0;
}
.badge {
  background-color: #b94517;
  padding: 0.05rem 0.5rem;
  border-radius: 50px;
  font-weight: bold;
}
