.userProfile {
  position: relative;
  margin-left: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 5vw;
  height: 30vh;
  background: rgba(245, 222, 179, 0.9);
  border-radius: 10px;
}
