.portraitItem {
  display: flex;
  flex-direction: column;
  width: 26vh;
  height: fit-content;
  padding: 4vh 4vh;
  text-align: center;
  cursor: pointer;
  color: black;
}

.portraitItem img {
  width: 26vh;
  height: 40vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}
.name {
  font-size: 2vh;
  margin: 2vh 1vw;
  font-weight: 500;
}
.price {
  width: auto;
  height: auto;
  margin: 0vh 8vh;
  padding: 0.7vh 0;
  background-color: wheat;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  border-radius: 13px;
}
