.slider-container {
  display: block;
  width: 100%;
  height: 86vh;
  background-color: white;
  margin-top: 14vh;
}
.slider-box {
  display: flex;
  width: auto;
  height: 85%;
  margin: 6vh 10vw;
  border-radius: 35px;
  justify-content: center;
  padding: 1vh 1vw;
}

.slider-box picture {
  width: 100%;
  height: 100%;
  border-radius: 35px;
}

.slider-box img {
  width: 100%;
  height: 100%;
  border-radius: 35px;
}
.slider-img {
  animation: slide-down 3s alternate;
}
.slider-box p {
  position: absolute;
  color: aliceblue;
  margin: 50vh 13vw;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 2.6em;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.3em 0.6em;
}
.dots-box {
  position: absolute;
  margin: 67vh 30vw 3vh 30vw;
  width: 20vh;
  height: 5vh;
  text-align: center;
}
.active-dot {
  display: inline-block;
  width: 2.2vh;
  height: 2.2vh;
  margin: 1.2vh 0.5vh;
  border-radius: 50px;
  background-color: rgb(220, 186, 118);
}
.inactive-dot {
  display: inline-block;
  width: 2.2vh;
  height: 2.2vh;
  margin: 1.2vh 0.5vh;
  border-radius: 50px;
  background-color: white;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateX(2vw);
  }
  60% {
    opacity: 1;
    transform: translateX(0vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}

@media (max-width: 900px) {
  .slider-box {
    margin: 1vh 10vw;
  }
  .slider-box img {
    border-radius: 10px;
  }
  .slider-box p {
    font-size: 1.6em;
  }
}
